
 html, body {
        font-family: Arial, sans-serif;
        min-height: 100% !important;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 120%;
      }

      .container {
        height: 100%;
        /*position: relative;*/
      }
.row {
  height: 100%;
}
      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }



      hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0 20px 0;
        border: none;
      }
      #map {
        height: 100%;
      }


      .options-box {
        background: #fff;
        border: 1px solid #999;

        height: 100%;

        padding: 10px 10px 10px 10px;
        text-align: left;
       /* width: 240px;*/
      }

      #pano {
        width: 150px;
        height: 150px;
      }

      .text {
        font-size: 12px;
      }
